<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="{{ path('home') }}">IWM</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('products') }}">Produits</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('admin.products.index') }}">Administration</a>
            </li>
            {% if app.user %}
                <li>
                    <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                </li>
            {% endif %}
            
        </ul>
    </div>
</nav>